@page "/"

<PageTitle>League</PageTitle>

<h1>League</h1>

<br>

<select autofocus class="form-select" aria-label="Default select example" @onchange="fetchJSON">
    <option selected disabled>Select a Match</option>
    <option value="league">league</option>
    <option vlaue="challange-league">challenge-league</option>
    <option vlaue="plauschturnier">plauschturnier</option>
    <option vlaue="sorting">sorting</option>
</select>

<br>

<button class="btn btn-primary" disabled="@getNewRowButton" @onclick="getNewRows">Show selected Football Match</button>

<br><br>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>#</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Goals</th>
            <th>Goals Received</th>
            <th>Goals Difference</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TableRow row in Rows)
        {
            <tr>
                <td>@row.teamName</td>
                <td>@rowCounter </td>
                <td>@row.teamWins</td>
                <td>@row.teamDraws</td>
                <td>@row.teamLosses</td>
                <td>@row.teamGoals</td>
                <td>@row.teamGoalsReceived</td>
                <td>@row.teamGoalDifference</td>
                <td>@row.teamPoints</td>
            </tr>
            rowCounter++;
        }
    </tbody>
</table>

@code {

    private int rowCounter = 1;
    List<Match>? matches;
    List<TableRow> Rows = new List<TableRow> { new TableRow("Unknown") };
    public bool getNewRowButton = true;

    public async void fetchJSON(ChangeEventArgs e)
    {
        rowCounter = 1;
        getNewRowButton = false;
        matches = await Http.GetFromJsonAsync<List<Match>>("sample-data/" + e.Value.ToString() + ".json");
    }

    public void getNewRows()
    {
        rowCounter = 1;
        Table superLeagueTable = Table.CreateTable(matches);
        Rows = superLeagueTable.getRows();
    }

}
